<h1 mat-dialog-title>افزودن زمان‌بندی به کلاس</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-4">
      <label class="required fs-5 fw-bold mb-2">روز برگزاری</label>
      <select class="form-select form-select-solid">
        <option>شنبه</option>
        <option>یکشنبه</option>
        <option>دوشنبه</option>
        <option>سه‌شنبه</option>
        <option>چهارشنبه</option>
        <option>پنج‌شنبه</option>
      </select>
    </div>
    <div class="col-8">
      <label class="required fs-5 fw-bold mb-2">ساعت برگزاری</label>
      <input type="text" class="form-control form-control-solid">
    </div>

  </div>

</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button class="btn btn-light btn-active-light-primary ">انصراف</button>
  <button class="btn btn-primary align-self-center text-nowrap ms-2" cdkFocusInitial>ثبت</button>
</div>
