<div class="d-flex flex-column flex-root">
  <!--begin::Authentication - Sign-in -->
  <div
    class="authBoxWrapper d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
    style="background-image: url(assets/images/auth-background.png)">
    <!--begin::Content-->
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
      <!--begin::Logo-->
      <a href="/metronic8/demo1/../demo1/index.html" class="mb-12">
        <img alt="Logo" src="assets/images/logo.png" class="h-40px">
      </a>
      <!--end::Logo-->
      <router-outlet></router-outlet>
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <div class="d-flex flex-center flex-column-auto p-10">
      <!--begin::Links-->
      <div class="d-flex align-items-center fw-bold fs-6">
        <a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">درباره ما</a>
        <a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">تماس با ما</a>
        <a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">انتقادات و پیشنهادات</a>
      </div>
      <!--end::Links-->
    </div>
    <!--end::Footer-->
  </div>
  <!--end::Authentication - Sign-in-->
</div>
