<!--begin::Form-->
<div class="px-7 py-5">
  <!--begin::Input group-->
  <div class="mb-10">
    <!--begin::Label-->
    <label class="form-label fw-bold">نوع برگزاری</label>
    <div class="mt-1">
      <select class="form-select">
        <option selected>همه</option>
        <option value="1">حضوری</option>
        <option value="2">آنلاین</option>
      </select>
    </div>
    <!--end::Input-->
  </div>
  <!-- --- -->
  <div class="mb-10">
    <!--begin::Label-->
    <label class="form-label fw-bold">نوع پایه</label>
    <div class="mt-1">
      <select class="form-select">
        <option selected>همه</option>
        <option value="1">عملی</option>
        <option value="2">دانشگاه</option>
        <option value="3">مدرسه</option>
      </select>
    </div>
    <!--end::Input-->
  </div>
  <!--end::Input group-->
  <!--begin::Actions-->
  <div class="d-flex justify-content-end">
    <button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2"
      data-kt-menu-dismiss="true">بازنشانی</button>
    <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">اعمال</button>
  </div>
  <!--end::Actions-->
</div>
<!--end::Form-->
